.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 1;
  background-color: black;
  z-index: 950;
}

.navbar ul:hover {
  color: rgb(245, 92, 31);
}

.navbarLinks {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: whitesmoke;
  z-index: 1000;
  cursor: pointer;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.home {
  flex-direction: column;
  width: 100%;
  top: 100%;
  text-align: center;
  height: 500px;
  background: url("./img/abstract1.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

.nameBox {
  position: absolute;
  top: 25%;
  width: 100%;
  font-size: 70px;
  color: honeydew;
  z-index: 900;
}

.subheading {
  font-size: 20px;
  position: relative;
  text-align: center;
}

.main-text {
  font-family: "Righteous", cursive;
}

.navbar ul {
  padding: 10;
  width: 50;
}

.about {
  width: 100%;
  top: 100%;
  height: 400px;
  background-color: rgb(245, 92, 31);
}

.aboutHeading {
  left: 7%;
  font-family: "Monoton", cursive;
  top: 10%;
  color: black;
  font-weight: 400;
  font-size: 40px;
  position: relative;
  text-align: center;
  text-decoration: underline yellow;
  text-decoration-style: solid;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 7%;
  left: 10%;
  width: 80%;
  height: 60%;
  background-color: rgb(245, 92, 31);
  opacity: 1;
}

.photo {
  background: url("./img/photo\ 1.jpg") no-repeat center center/cover;
  left: 15%;
  top: 12%;
  position: relative;
  border-radius: 60%;
  height: 200px;
  width: 200px;
}

.bio {
  position: relative;
  top: 25%;
  height: 50%;
  left: 25%;
  width: 40%;
  color: white;
}

.blogComponent {
  background-color: white;
  opacity: 0.8;
  width: 100%;
  top: 100%;
  height: 300px;
  color: black;
}

.textBox {
  top: 25%;
  position: relative;
  left: 15%;
  height: 50%;
  width: 40%;
  z-index: 1;
}

.projects {
  width: 100%;
  top: 100%;
  height: 400px;
  background-color: black;
}

.project {
  width: 250px;
  padding: 16px;
  text-align: center;
  border: 1px solid white;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  border-style: ridge;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 10px 10px;
}

.project:hover p {
  transform: scaleY(0.7);
}

.project:hover {
  transform: scaleY(1.2);
  box-shadow: 10px 10px 5px white;
}

.light-text {
  color: white;
}

.container1 {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 15%;
  left: 20%;
  right: 20%;
  width: 80%;
  height: 60%;
  background-color: black;
}

.projectHeader {
  font-family: "Monoton", cursive;
  text-decoration: underline yellow;
  position: relative;

  top: 10%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  font-size: 40px;

  /* transform: rotate(-20deg); */
}

.button1 {
  margin-top: 1%;
  cursor: pointer;
  margin-left: 60%;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}
