.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 1;
  background-color: black;
  z-index: 950;
}

.navbarLinks {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: whitesmoke;
  z-index: 1000;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.home {
  flex-direction: column;
  width: 100%;
  top: 100%;
  text-align: center;
  height: 500px;
  background: url("./img/abstract1.jpg") no-repeat center center/cover;
}

.nameBox {
  position: absolute;
  top: 35%;
  width: 100%;
  font-size: 40px;
  color: honeydew;
  z-index: 900;
}

.main-text {
  font-family: "Righteous", cursive;
}

.navbar ul {
  padding: 10;
  width: 50;
}

.about {
  width: 100%;
  top: 100%;
  height: 500px;
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: rgb(245, 92, 31);
  opacity: 1;
}

.photo {
  background: url("./img/photo\ 1.jpg") no-repeat center center/cover;
  left: 15%;
  top: 25%;
  position: relative;
  border-radius: 50%;
  height: 50%;
  width: 200px;
}

.bio {
  position: relative;
  top: 25%;
  height: 50%;
  left: 25%;
  width: 40%;
  color: white;
}
