.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  background-color: black;
}

.navbarLinks {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: whitesmoke;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.home {
  flex-direction: column;
  width: 100%;
  top: 100%;
  text-align: center;
  height: 500px;
  background: url("./img/abstract1.jpg") no-repeat center center/cover;
}

.nameBox {
  position: absolute;
  top: 35%;
  width: 100%;
  font-size: 30px;
  color: honeydew;
}

.main-text {
  font-family: "Righteous", cursive;
}

.navbar ul {
  padding: 10;
  width: 50;
}
